<a href="https://colab.research.google.com/github/SamG1002/PythonFiap/blob/main/codigo_checkpoint3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Checkpoint 3

## Carregar m√≥dulos

In [129]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
#calculo
import sympy as sp

## Carregar dados

In [130]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [131]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [132]:
dados_paises_covid

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/17/22,5/18/22,5/19/22,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,179328,179477,179597,179624,179674,179716,179716,179771,179835,179835
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,275688,275732,275732,275732,275838,275864,275881,275939,275985,276012
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,265828,265834,265841,265847,265851,265854,265855,265860,265862,265864
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,42156,42572,42572,42572,42572,42572,42572,42572,42894,42894
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,99287,99287,99287,99287,99287,99287,99287,99433,99527,99527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,657456,657456,657456,657456,657456,657456,657573,657573,657573,657573
281,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
282,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11819,11819,11819,11819,11819,11819,11819,11819,11819,11819
283,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,320680,320680,320945,320945,321099,321146,321195,321268,321342,321399
284,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,249748,250007,250206,250469,250469,250642,250702,250929,251228,251646

## Ajustes

- Nomes das colunas

In [133]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [134]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [135]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '5/17/22', '5/18/22', '5/19/22', '5/20/22', '5/21/22', '5/22/22',
       '5/23/22', '5/24/22', '5/25/22', '5/26/22'],
      dtype='object', length=860)

- Reajustar dados

In [136]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [137]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [138]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long     date  dead
243955      NaN    West Bank and Gaza  31.952200   35.233200  5/26/22  5660
243956      NaN  Winter Olympics 2022  39.904200  116.407400  5/26/22     0
243957      NaN                 Yemen  15.552727   48.516388  5/26/22  2149
243958      NaN                Zambia -13.133897   27.849332  5/26/22  3985
243959      NaN              Zimbabwe -19.015438   29.154857  5/26/22  5498

In [139]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [140]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [141]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [142]:
dados_paises_covid.tail()

,province,country,Lat,Long,date,infected
243955,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-26,657573
243956,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-26,535
243957,NaN,Yemen,15.552727,48.516388,2022-05-26,11819
243958,NaN,Zambia,-13.133897,27.849332,2022-05-26,321399
243959,NaN,Zimbabwe,-19.015438,29.154857,2022-05-26,251646

In [143]:
dados_paises_covid_dead.tail()

       province               country        Lat        Long       date  dead
243955      NaN    West Bank and Gaza  31.952200   35.233200 2022-05-26  5660
243956      NaN  Winter Olympics 2022  39.904200  116.407400 2022-05-26     0
243957      NaN                 Yemen  15.552727   48.516388 2022-05-26  2149
243958      NaN                Zambia -13.133897   27.849332 2022-05-26  3985
243959      NaN              Zimbabwe -19.015438   29.154857 2022-05-26  5498

In [144]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [145]:
dados_paises_covid.shape

(243960, 6)

In [146]:
dados_paises_covid_dead.shape

(243960, 6)

In [147]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [148]:
dados_covid.tail()

,province,country,Lat,Long,date,infected,dead
243955,NaN,West Bank and Gaza,31.952200,35.233200,2022-05-26,657573,5660
243956,NaN,Winter Olympics 2022,39.904200,116.407400,2022-05-26,535,0
243957,NaN,Yemen,15.552727,48.516388,2022-05-26,11819,2149
243958,NaN,Zambia,-13.133897,27.849332,2022-05-26,321399,3985
243959,NaN,Zimbabwe,-19.015438,29.154857,2022-05-26,251646,5498

In [149]:
dados_covid.shape

(243960, 7)

## Aqui come√ßa o trabalho

***1 ‚Äì Agrupar a soma de infectados e mortes de todos os pa√≠ses por data.***

In [151]:
soma = dados_covid.groupby('date')[['infected','dead']].sum()
soma

             infected     dead
date
2020-01-22        557       17
2020-01-23        657       18
2020-01-24        944       26
2020-01-25       1437       42
2020-01-26       2120       56
...               ...      ...
2022-05-22  525612127  6277245
2022-05-23  526096866  6278676
2022-05-24  526708614  6280424
2022-05-25  527351268  6283065
2022-05-26  527840775  6284533

[856 rows x 2 columns]

***2 ‚Äì Criar duas colunas contendo a varia√ß√£o bruta di√°ria de infectados e mortos. Recomenda-se
realizar esta tarefa conforme o seguinte exemplo:***

In [152]:
difMortesXInfectados = dados_covid[['dead', 'infected']] = dados_covid.groupby('country')[['dead', 'infected']].diff()
dados_covid_top = dados_covid.assign(VarMortos = difMortesXInfectados['dead'], VarInfectados = difMortesXInfectados['infected'])
dados_covid_top[['country', 'date', 'dead', 'infected', 'VarMortos', 'VarInfectados']]

,country,date,dead,infected,VarMortos,VarInfectados
0,Afghanistan,2020-01-22,NaN,NaN,NaN,NaN
1,Albania,2020-01-22,NaN,NaN,NaN,NaN
2,Algeria,2020-01-22,NaN,NaN,NaN,NaN
3,Andorra,2020-01-22,NaN,NaN,NaN,NaN
4,Angola,2020-01-22,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
243955,West Bank and Gaza,2022-05-26,0.0,0.0,0.0,0.0
243956,Winter Olympics 2022,2022-05-26,0.0,0.0,0.0,0.0
243957,Yemen,2022-05-26,0.0,0.0,0.0,0.0
243958,Zambia,2022-05-26,0.0,57.0,0.0,57.0
243959,Zimbabwe,2022-05-26,2.0,418.0,2.0,418.0

***3 ‚Äì Criar duas colunas contendo a varia√ß√£o percentual di√°ria de infectados e mortos.
Recomenda-se realizar esta tarefa conforme o seguinte exemplo:***

In [112]:
InfecDiario = dados_covid[['infected', 'dead']] = dados_covid.groupby('date')[['infected', 'dead']].pct_change()
dados_covid_top = dados_covid_top.assign(VarPercDiarioMortos = InfecDiario['dead'], VarPercDiarioInfectados = InfecDiario['infected'])
dados_covid_top[['country', 'date', 'dead', 'infected', 'VarMortos', 'VarInfectados', 'VarPercDiarioMortos', 'VarPercDiarioInfectados']]

,country,date,dead,infected,VarMortos,VarInfectados,VarPercDiarioMortos,VarPercDiarioInfectados
0,Afghanistan,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN
3,Andorra,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,2020-01-22,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
243955,West Bank and Gaza,2022-05-26,0.0,0.0,0.0,0.0,-0.333333,-4.348529
243956,Winter Olympics 2022,2022-05-26,0.0,0.0,0.0,0.0,-1.000000,-1.000000
243957,Yemen,2022-05-26,0.0,0.0,0.0,0.0,NaN,NaN
243958,Zambia,2022-05-26,0.0,-17.0,0.0,-17.0,NaN,inf
243959,Zimbabwe,2022-05-26,2.0,119.0,2.0,119.0,-inf,-1.000000

***4 ‚Äì Filtrar os pa√≠ses: Brasil, Estados Unidos, It√°lia e Canad√°. (Problema secund√°rio: como voc√™
resolver√° o problema dos valores ‚ÄúNaN‚Äù e alguns valores ‚Äúinf‚Äù? Dica: existem algumas fun√ß√µes
que podem auxiliar, como dropna, fillna, replace. Escolher o que melhor atender a solu√ß√£o.)***

In [158]:
dados_covid_top[(dados_covid_top['country']=='Brazil') | (dados_covid_top['country']== 'Italy') | (dados_covid_top['country']== 'Canada') | (dados_covid_top['country']== 'US')].fillna('N√£o informado')
dados_covid_top = dados_covid_top.dropna()
dados_covid_top

,province,country,Lat,Long,date,infected,dead,VarMortos,VarInfectados
10,New South Wales,Australia,-33.868800,151.209300,2020-01-22,0.0,0.0,0.0,0.0
11,Northern Territory,Australia,-12.463400,130.845600,2020-01-22,0.0,0.0,0.0,0.0
12,Queensland,Australia,-27.469800,153.025100,2020-01-22,0.0,0.0,0.0,0.0
13,South Australia,Australia,-34.928500,138.600700,2020-01-22,0.0,0.0,0.0,0.0
14,Tasmania,Australia,-42.882100,147.327200,2020-01-22,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
243944,Isle of Man,United Kingdom,54.236100,-4.548100,2022-05-26,7387.0,58.0,58.0,7387.0
243945,Jersey,United Kingdom,49.213800,-2.135800,2022-05-26,17473.0,24.0,24.0,17473.0
243946,Montserrat,United Kingdom,16.742498,-62.187366,2022-05-26,-49481.0,-125.0,-125.0,-49481.0
243947,"Saint Helena, Ascension and Tristan da Cunha",United Kingdom,-7.946700,-14.355900,2022-05-26,-954.0,-4.0,-4.0,-954.0
243948,Turks and Caicos Islands,United Kingdom,21.694000,-71.797900,2022-05-26,6119.0,36.0,36.0,6119.0

***5 ‚Äì Obter a m√©dia mensal da varia√ß√£o bruta de infectados e mortos para cada pa√≠s. Descreva os
resultados. (Dica: transformar a data que est√° no formato ‚Äúyyyy-mm-dd‚Äù para ano-m√™s, isto √©,
‚Äúyyyy-mm‚Äù, pesquisar o comando ‚Äúdf['date'].dt.to_period('M')‚Äù)***

In [166]:
dados_covid_top['etad'] = dados_covid_top['date'].dt.to_period('M')
dados_covid_top = dados_covid_top.drop(columns=['date'])
dados_covid_top = dados_covid_top.rename(columns={'etad': 'date'})

KeyError: ignored

In [167]:
dados_covid_top = dados_covid_top[['dead', 'infected']] = dados_covid_top.groupby(['country','date'])[['VarMortos', 'VarInfectados']].mean()
dados_covid_top

                           VarMortos  VarInfectados          dead  \
country        date
Australia      2020-01      0.000000   0.000000e+00      0.000000
               2020-02      0.000000   8.620690e-03      0.000000
               2020-03      0.008065   1.459677e+00      0.008065
               2020-04      0.025000   7.791667e-01      0.025000
               2020-05      0.004032   1.532258e-01      0.004032
...                              ...            ...           ...
United Kingdom 2022-01 -11679.995037  -1.152445e+06 -11679.995037
               2022-02 -12261.717033  -1.402230e+06 -12261.717033
               2022-03 -12547.565757  -1.527899e+06 -12547.565757
               2022-04 -13124.343590  -1.667424e+06 -13124.343590
               2022-05 -13601.642012  -1.704524e+06 -13601.642012

                            infected
country        date
Australia      2020-01  0.000000e+00
               2020-02  8.620690e-03
               2020-03  1.459677e+00
               2020-04  7.791667e-01
               2020-05  1.532258e-01
...                              ...
United Kingdom 2022-01 -1.152445e+06
               2022-02 -1.402230e+06
               2022-03 -1.527899e+06
               2022-04 -1.667424e+06
               2022-05 -1.704524e+06

[232 rows x 4 columns]

***6 ‚Äì Obter a m√©dia mensal da varia√ß√£o percentual de infectados e mortos para cada pa√≠s.
Descreva os resultados.***

In [169]:
media = sp.diff(dados_covid_top.groupby(['date', 'country'])[['dead', 'infected']].mean())
media

                                dead      infected
date    country
2020-01 Australia                NaN           NaN
        Canada              0.000000  0.000000e+00
        China               0.000000  1.638298e+00
        Denmark             0.000000 -1.638298e+00
        France              0.000000 -2.293578e-01
...                              ...           ...
2022-05 Denmark         -3120.826923 -1.529505e+06
        France          -9960.260490 -1.014796e+06
        Netherlands      7526.212413  5.370763e+05
        New Zealand      4666.682692  1.006257e+06
        United Kingdom -12713.449704 -6.760638e+05

[232 rows x 2 columns]

**7 ‚Äì Gerar os seguintes gr√°ficos:**




***a) Gr√°fico de barras contendo a evolu√ß√£o m√©dia mensal da varia√ß√£o BRUTA de infectados
para Brasil. E.U.A e It√°lia (Um gr√°fico para cada pa√≠s separadamente)***

In [ ]:
ax = dados_covid.plot.bar(x = 'dead', y = 'date')
plt.xlabel('dead')
plt.ylabel('date')
plt.title('Comparativo Brasil  x EUA')

KeyboardInterrupt: ignored

**b) Gr√°fico de linhas contendo a evolu√ß√£o m√©dia mensal da varia√ß√£o PERCENTUAL de
mortes para Brasil. E.U.A e It√°lia (Um gr√°fico para cada pa√≠s separadamente)**